<html>
    <head>
        <title>Scrabble Score Calculator</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <h1>Scrabble Calculator</h1>
            <hr>
            <p class="lead">Your Scrabble score is:</p>
            <p>{{ score }}</p>
        </div>
    </body>
</html>
