<html>
    <head>
        <title>Scrabble Score Calculator</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <h1>Scrabble Calculator</h1>
            <hr>
            <p class="lead">Enter in a word to find its Scrabble value.</p>
            <form action="/scrabble_calculate">
                <div class="form-group">
                    <label for="input_word">Enter a word:</label>
                    <input id="input_word" name="input_word" class="form-control" type="text">
                </div>
                <button type="submit" class="btn-primary">Calculate</button>
            </form>
        </div>
    </body>
</html>
